<div class="col-md-8" id="content">
  <ul>
    <li  *ngFor="let mix of allMixes" class="mixes">
      <img [src]="mix.img_src">
      <p class="mixDetails">
        <span>{{mix.mix_name}}</span>
        <span class="length">{{apiService.convertMillisecondsToDigitalClock(mix.length)}}</span>
        <span class="mixBackground"></span>
      </p>
    </li>
  </ul>
</div>
<div class="col-md-3 randomTracksWrapper">
  <h4>RANDOM_TRACKS</h4>
  <img [src]="randomTracks[0].img_src">
  <ul>
    <li  *ngFor="let track of randomTracks" class="randomTracks">
      <p>
        <span>{{apiService.convertMillisecondsToDigitalClock(track.length)}}</span>
        <span>{{track.creator}}</span>
        <span>{{track.track_name}}</span>
      </p>
    </li>
  </ul>
</div>
<div class="col-md-1"></div>
