#content {
  position:relative;
  height:500px;
  padding: 0 0 0 3.2%;
}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
  position:absolute;
  width:60px;
  height: 60px;
  border: #ff0000 solid; /* or whatever colour */
  /*border-style:solid; !* or whatever style *!*/
  content: ' ';
}
#content:before {
  top:0;
  left:0;
  border-width: 2px 0 0 2px
}
#content:after {
  top:0;
  right:0;
  border-width: 2px 2px 0 0
}
#content>:first-child:before {
  bottom:0;
  right:0;
  border-width: 0 2px 2px 0
}
#content>:first-child:after {
  bottom:0;
  left:0;
  border-width: 0 0 2px 2px
}
.mixes{
  display: inline-block;
  width: 150px;
  height: 113px;
  margin: 3% 3% 2% 0;

}
.length{
  float: right;
  color: #ff0000;
}
.mixName{
  color: #ffffff;
}
.mixDetails{
  margin-top: 5px;
  background: #08194d;
  opacity: 0.6;
}
.mixBackground{
  display: block;
  background: url("../../assets/underMix.png") no-repeat;
  height: 10px;
}
.trackLength{
  color: #ffffff;
  margin-right: 20px;
  letter-spacing: 3px;
  font-size: 12px;
}
.trackCreator{
  color: #ffffff;
  font-size: 12px;
  width: 115px;
  display: inline-block;
}
.trackName{
  /*float: right;*/
  color: #ffffff;
  font-size: 12px;
}
h4{
  color: #00ffe9;
  /*letter-spacing: 5px;*/
  /*width: 170px;*/
  margin-bottom: 0;
  display: inline-block;
  /*float: right;*/
}
.creator{
  display: block;
  width: 50px;
  margin-bottom: 5px;
}
h5{
  display: inline-block;
  color: #00ffe9;
  margin-bottom: 0;
  background: #08194d;
  opacity: 0.6;
  margin-right: 2%;
}
.randomTracksWrapper{
  padding-right: 0;
  padding-left: 25px;
}
.randomTracksWrapper p{
  margin: 0;
}
.star{
  vertical-align: top;
  color: #00ffe9;
  font-size: 20px;
}
.mixImg{
  width: 150px;
}
@media screen and (max-width: 1280px){
  .mixes{
    margin: 3% 1% 2% 0 ;
  }
  #content{
    padding: 0.8% 0 0 2%;
  }
}
