<div class="col-md-8" id="content">
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
  <div class="mixes">This is some content</div>
</div>
<div class="col-md-4">
  <p></p>
</div>
