<div class="col-md-6 logo"></div>
<div class="col-md-6 right" *ngIf="document.location.hash !== '#/welcome-form'">
  <div class="clearfix">
    <ul>
      <li><a routerLink="/mix-tape" routerLinkActive="active-link">MIXTAPE</a>
      <li><a routerLink="/arrival" routerLinkActive="active-link">ARRIVAL</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">ABOUT</a></li>
      <li><a routerLink="/explore" routerLinkActive="active-link">EXPLORE</a></li>
    </ul>
  </div>
  <div class="input-group">
    <span class="glyphicon glyphicon-search"></span>
    <input type="text" disabled>
  </div>
</div>
