<div class="col-md-6 logo"></div>
<div class="col-md-6 right">
  <div class="clearfix">
    <ul>
      <li><a routerLink="/mix-tape" routerLinkActive="active-link">MIXTAPE</a>
      <li><a routerLink="/arrivel" routerLinkActive="active-link">ARRIVEL</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">ABOUT</a></li>
      <li><a routerLink="/explore" routerLinkActive="active-link">EXPLORE</a></li>
      <!--<li></li>-->
      <!--<li><a href="#" (click)="onSelect('mixtape')">MIXTAPE</a></li>-->
      <!--<li><a href="#" (click)="onSelect('arrivel')">ARRIVEL</a></li>-->
      <!--<li><a href="#">ABOUT</a></li>-->
      <!--<li><a href="#">EXPLORE</a></li>-->
    </ul>
  </div>
  <div class="input-group">
    <span class="glyphicon glyphicon-search"></span>
    <input type="text">
  </div>
</div>



