.col-md-6.logo{
  background: url("../../assets/smallLogo.png") no-repeat;
  height: 141px;
  width: 640px;
  margin-left: 30px;
}
.col-md-6.right{
  padding: 0;
}
ul{
  list-style: none;
  float: right;
}
li{
  display: inline;
  margin-left: 25px;
}
a{
  color: #ffffff;
  font-size: 20px;
}
a:hover, a:focus{
  text-decoration: none;
  color: #ff0000;
}

.active-link{
  color: red;
}
.input-group{
  width: 260px;
  height: 60px;
  float: right;
  background: #0333bc;
  padding-top: 13px;
  padding-left: 34px;
}
input{
  width: 180px;
  height: 34px;
  border: none;
  background: #00ffe9;
}
span{
  color: white;
  font-size: 1.8em;
  vertical-align: -8px;
  margin-right: 14px;
  margin-left: -6px;
}
