#reletedMix{
  color: white;
  letter-spacing: 3px;
  border-bottom: 1px dotted #e82334;
  padding: 0px 0 5px 0;
  width: 150px;
  margin-bottom: 10px;
}
.mixes{
  /*margin-bottom: 5px;*/
  width: 150px;
  height: 140px;
}
img{
  display: block;
  width: 150px;
}
.length{
  float: right;
  color: #e82334;
}
.mixName{
  color: #ffffff;
}
p{
  margin-top: 5px;
  background: #08194d;
  opacity: 0.6;
}
.mixBackground{
  display: block;
  background: url("../../assets/underMix.png") no-repeat;
  height: 10px;
}
.progressBar{
  background: url("../../assets/progressBar2.png") no-repeat;
  height: 51px;
  width: 75%;
}
.trackTitles{
  display: inline-block;
  margin-right: 18%;
  color: #ffffff;
}
.trackTitles:nth-child(1){
  margin-right: 4%;
}
.trackTitlesWrapper{
  padding-left: 0;
}

.trackTitlesWrapper> .row{
  margin-left: 0;
}
.selectedTracks{
  color: #ffffff;
}
ul{
  list-style: none;

}
.trackCreator{
  display: inline-block;
  width: 130px;
  margin-right: 2%;
}
.trackName{
  display: inline-block;
  width: 144px;
}
.trackLength{
  margin-right: 4%;
}
.trackTitlesWrapperRow{
  border: 1px solid #2a459b;
  height: 30px;
}
.playerButton{
  margin-right: 5px;
}
.pause{
  background: url("../../assets/player/pause.png") no-repeat;
  width: 41px;
  height: 41px;
  border: none;
}
.play{
  background: url("../../assets/player/play.png") no-repeat;
  width: 43px;
  height: 43px;
  border: 1px solid white;
}
.previous{
  background: url("../../assets/player/previous.png") no-repeat;
  width: 44px;
  height: 44px;
  border: 1px solid white;
}
.next{
  background: url("../../assets/player/next.png") no-repeat;
  width: 44px;
  height: 44px;
  border: 1px solid white;
}
.playerButtonsRow{
  margin-bottom: 20px;
}
.playerButtons{
  background: #062171;
  opacity: 0.7;
}
.mixHeader, .mixLength{
  color: red;
  vertical-align: 12px;
  font-size: 24px;
  margin-left: 15px;
}
.mixImg {
  width: 50px;
  display: inline-block;
  vertical-align: 2px;
}

