<div class="col-md-10" id="content">
  <div class="row">
    <div class="col-md-1 mediaPlayer"></div>
    <div class="col-md-11 progressBar"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 trackTitlesWrapper">
      <div class="row trackTitlesWrapperRow">
        <h5 class="trackTitles">TIME</h5>
        <h5 class="trackTitles">ARTIST</h5>
        <h5 class="trackTitles">TRACK</h5>
        <h5 class="trackTitles">RANK</h5>
      </div>
      <ul>
          <li *ngFor="let selectTrack of selectedTracks">
            <a href="#" (click)="onTrackSelected(selectTrack)">
              <span class="selectedTracks trackLength">{{apiService.convertMillisecondsToDigitalClock(selectTrack.length)}}</span>
              <span class="selectedTracks trackCreator">{{selectTrack.creator}}</span>
              <span class="selectedTracks trackName">{{selectTrack.track_name}}</span>
              <span class="selectedTracks">01</span>
            </a>
          </li>
      </ul>
    </div>
    <div class="col-md-5"></div>
    <youtube-player class=""
                    [videoId]="currentPlayedTrack"
                    (ready)="currentPlayedTrack.savePlayer($event)"
                    (change)="currentPlayedTrack.onStateChange($event)">
    </youtube-player>
  </div>
</div>

<div class="col-md-2">
  <h4 id="reletedMix">RELETED_MIX</h4>
  <ul>
    <li *ngFor="let mix of relatedMixes | slice:0:3" class="mixes">
        <img [src]="mix.img_src">
        <p>
          <span class="mixName">{{mix.mix_name}}</span>
          <span class="length">{{apiService.convertMillisecondsToDigitalClock(mix.length)}}</span>
          <span class="mixBackground"></span>
        </p>
    </li>
  </ul>
</div>
