/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
body{
  background: url("assets/background.png") repeat-y;
  background-size: cover;                      /* <------ */
  /*background-position: center center;*/
}
