/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'OCR A Extended';
  /*src: url('assets/fonts/OCRAEXT.TTF');*/
}

body{
  background: url("assets/background.png") repeat-y;
  background-size: cover;                      /* <------ */
  /*background-position: center center;*/
  font-family: 'OCR A Extended';
}
.error {
  margin-top: 5px;
  background: #08194d;
  opacity: 0.6;
  color: #ff0000;
  font-size: 42px;
}
